.header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: var(--header-height);   
   
    .container {
        height: 100%;
        display: flex;
        @include midflex();
        justify-content: space-between;
    }
    &__left {
        display: flex;
        gap: 32px;
        &-logo {
            display: flex;
        }
        &-line {
            background-color: var(--dark-blue-cl);
            width: 1px;
            height: 66px;
        }
        &-menu {
            display: flex;
            align-items: center;
            li:first-child {
                a {
                    padding-left: 0px;
                }
            }
            li {  
                cursor: pointer;
                a {     
                    padding: 0 13.5px;
                    color: var(--white-cl);  
                    position: relative;     
                    @include transition(var(--time-transition));                 
                }
                a.--active {                   
                    color: var(--yellow-cl);   
                }
                a.--active:after {
                    @include transform(scaleX(1));
                }
                a:after {
                        content: '';
                        height: 1px;
                        background-color: var(--white-cl);
                        display: block;
                        width: 100%;
                        @include transform(scaleX(0));
                        @include transform-origin(right);
                        @include transition(transform var(--time-transition));
                } 
          
                
            }

            li:hover a:after {
                @include transform(scaleX(1));
                @include transform-origin(left);
        }           
        }
    }
}