.header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: var(--header-height);   
   
    .container {
        height: 100%;
        @include midflex();
        justify-content: space-between;
    }
    &__left {
        display: flex;
        gap: 32px;
        &-logo {
            display: flex;
        }
        &-line {
            background-color: var(--dark-blue-cl);
            width: 1px;
            height: 66px;
        }
        &-menu {
            display: flex;
            align-items: center;
            li:first-child {
                a {
                    padding-left: 0px;
                }
            }
            li {  
                cursor: pointer;
                a {     
                    padding: 0 13.5px;
                    color: var(--white-cl);  
                    position: relative;     
                    @include transition(var(--time-transition));                 
                }
                a.--active:after {
                    @include transform(scaleX(1));
                }
                a:after {
                        content: '';
                        height: 1px;
                        background-color: var(--white-cl);
                        display: block;
                        width: 100%;
                        @include transform(scaleX(0));
                        @include transform-origin(right);
                        @include transition(transform var(--time-transition));
                } 
          
                
            }

            li:hover a:after {
                @include transform(scaleX(1));
                @include transform-origin(left);
        }           
        }
    }
}
.header.--bg-blue {
    // background-color: linear-gradient(180deg, #010725 0%, transparent 100%);
    background: linear-gradient(90deg, rgba(1,7,37,1) 0%, rgba(1,7,37,0) 100%);
}

// RESPONSIVE
@include sm {
    .header {
        &__left {
            &-line {
                display: none;
            }
            &-menu {
                display: none;
            }

        }
        &__right {
            &-btn {
                display: none;
            }
            &-ham {
                @include size(45px,45px,true);
                background-color: var(--light-blue-cl);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center; 
                .hambergur {
                    display: block;
                    width: 25px;
                    height: 2px;
                    background-color: var(--white-cl);
                    position: relative;
                    @include transition(var(--time-transition));
                }
                .hambergur::before,
                .hambergur::after {
                    content: '';
                    display: block;
                    width: 25px;
                    height: 2px;
                    position: absolute;
                    background-color: var(--white-cl);
                    @include transition(var(--time-transition));
                }
                .hambergur::before {
                    top: 8px;
                }
                .hambergur::after {
                    bottom: 8px;
                }

                .hambergur.active-menu {
                    background-color: transparent;
                    &:after {
                      transform: rotate(-45deg);
                      transform-origin: center;
                      top: 50%;
                    }
                    
                    &:before {
                      transform: rotate(45deg);
                      transform-origin: center;
                      top: 50%
                    }
                }
            }
        }
    }
}